.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem auto;
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: #0A1A44;
    }
}