.article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.box{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.boxRow{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.5rem;
}
.boxImg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.boxTitle{
    font-size: 1.2rem;
}
.boxText{
    font-size: 0.9rem;
}

.blockRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.leftBorderBox{
    border-bottom: none;
    border-left: 1px solid lightgreen;
    padding: 0.5rem;
}


.rightBorderBox{
    border-bottom: none;
    border-right: 1px solid lightgreen;
    padding: 0 0.5rem;
}
.boxRightRow{
    margin: 0 0.5rem;
    align-items: flex-end;
    order: -1;
}
.boxRightText{
    text-align: right;
}


@media (max-width: 767px){
    .article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightArticle{
        align-items: flex-start;
    }
    .rightBorderBox{
        border-right: none;
        padding: 0.5rem;
    }
    .boxRightRow{
        align-items: flex-start;
        order: unset;
        padding: 0 0 0 0.5rem;
    }
    .boxRightText{
        text-align: left;
    }
    .blockRow{
        flex-direction: column;
    }
    .block{
        align-items: center;
    }
}