.logo {
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 5px 3px rgba(16, 16, 16, 0.4),
    1px 7px 5px rgba(16, 16, 16, 0.2),
    1px 10px 7px rgba(16, 16, 16, 0.2),
    1px 12px 10px rgba(16, 16, 16, 0.4);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 14, 36, 0.7);
    z-index: -1;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: unset;
    border: 5rem solid #0007;
}

.title {
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 0 1rem;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.secondaryTitle {
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 0 0 2px lightskyblue inset, 0 0 0 4px green inset;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    color: #00F7FF;
    text-transform: uppercase;
    font-weight: 400;
}

@media (max-width: 767px) {
    .mask {
        display: none;
    }
    .title {
        text-align: center;
        font-size: 3rem;
        margin: 1rem 0;
    }
}