.blockRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rightArticle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 0;
}
.rightBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 0;
}


@media (max-width: 767px){
    .rightArticle{
        align-items: center;
    }
    .blockRow{
        flex-direction: column;
    }
    .rightBlock{
        align-items: center;
    }
}