.profile{
    z-index: 1;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}